.benefits {
	min-height: 1063px;

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 370px);
		grid-auto-rows: auto;
		column-gap: 30px;
		row-gap: 25px;
	}

	&__title {
		width: 528px;
		margin-bottom: 32px;
		color: #3b3e43;
	}

	&__subhead {
		color: #00a077;
		margin-bottom: 24px;
	}

	.item {
		width: 370px;
		min-height: 335px;
		box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
		border-radius: 15px;
		padding-top: 50px;
		padding-left: 40px;
		padding-bottom: 50px;

		&-descr {
			width: 306px;
			margin-top: 15px;
			font-weight: 400;
			span {
				font-weight: 700;
			}
		}
	}
}
